@using WebAppPelda.Models;
@{
    ViewData["Title"] = "Sub Page";
}

<div class="text-center">
    <h1 class="display-4">Ügyfelek</h1>
    @foreach(Customer customer in Model)
    {
        <h2>Név: @(customer.Name )</h2>
        <p>Telefonszám: @(customer.Phone)</p>
        <p>Pontszám: @(customer.Score)</p>
    }

</div>
